﻿@{
    Layout = "_Layout";
    ViewData["Title"] = "Shout !";
}

<div class="text-center">
    <h1 class="display-4">Shout Web !</h1>
    <input type="text" id="text" placeholder="Entrer du texte..." />
    <button id="btn">Valider</button><br />
    <span id="result"></span>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script>
    const apiUrl = "https://localhost:5001/Api/";

    $(document).on('change', '#text', function (element) {
        callApi($(this).val());
    });

    $(document).on('click', '#btn', function (element) {
        callApi($("#text").val()); 
    });
          
    function callApi(text) {
        $.post(apiUrl, jQuery.param({ text: text }), function (data) {
            callbackApi(data);
        });
    }
        
    function callbackApi(text) {
        $('#result').html("Retour : <b>" + text + "</b>");
    }
</script>